CLIENT_URL=
DATABASE_URL=
JWT_SECRET=
GEMINI_API_KEY=
NODE_ENV=production
PORT=3000

# Cấu hình Tài khoản Quản Trị Viên (Admin)
ADMIN_EMAIL=admin@devicemonitor.com
ADMIN_PASSWORD=admin123
ADMIN_NAME=Quản Trị Viên (Admin)
ADMIN_PHONE=0901234567
ADMIN_SCHOOL=THPT Chuyên Lê Hồng Phong

